*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;

}
.game {
	background-image: url("../img/room.jpg");
	 background-size: cover;
	width: calc(50vh + 60vw);
	height: 100vh;
	margin: auto;
}
.menu {
	height: 100%;
	background-color: #161616;
	width: 20vw;
	font-size: calc(1vh + 1vw);
	padding-top: 2vh;
	font-family: 'Bubblegum Sans', cursive;
}
.postac {
	height: 16%;
	margin: auto;
	width: 90%;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}
.option {
	border: 2px solid red;
	width: 90%;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	margin-bottom: 0.6vh;
	cursor: pointer;
	font-size: calc(1.4vh + 0.7vw);
	padding: calc(0.4vw + 0.2vh);
	background-color: black;
	color: white;
}
.option:hover {
	background-color: rgba(64, 64, 64, 0.7);
	color: #00d4d4;
}
.portret {
	background-color: red;
	width: calc(3vh + 4vw);
	height: calc(3vh + 4vw);
	border: 0.5vh solid green;
}
.drobne {
	width: calc(9vw + 1vh);
	height: calc(3vh + 4vw);
	color: white;
	font-size: 1.4vw;
	display: grid;
	align-content: center;
	grid-gap: 10px;

}

@media screen and (max-width: 1100px){
	.game {
		height: 50vw;
		width: 100vw;
	}
	@media screen and (max-height: 400px){
	.game {
		height: 40vw;
		background-color: red;
	}
	}
}
